.pagina-pixelhome{

    padding-bottom: 100px;

    background-color: #343434;

    color: #fff;

    .pixelhome-cabe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0px 20px;

        height: 10vh;

        .cabe-start{
            display: flex;
            flex-direction: row;

            align-items: center;

            gap: 5px;
            
            img{
                height: 70px;
                width: auto;
            }


            h1{
                span{
                    color: #0725C1;
                }
            }
        }

        .cabe-meio{
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 30px;

            p{
                font-size: 16px;
            }

            .cabe-meio-input{
                display: flex;
                flex-direction: row;
                align-items: center;

                position: relative;

                padding: 0px 10px;

                height: 30px;

                border-radius: 30px;

                background-color: #d9d9d979;

                input{
                    background-color: transparent;

                    outline: 0;
                    border: none;

                    color: #fff;
                    
                    width: 200px;

                    height: 100%;
                }
                img{
                    position: absolute;

                    right: 10px;

                    height: 20px;
                    width: auto;

                    cursor: pointer;
                }
            }
        }

        .cabe-end{
            display: flex;
            flex-direction: row;
            align-items: center;

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                
                color: #000;

                border-radius: 20px;

                height: 30px;
                width: 100px;

                background-color: #fff;
                
                transition: 1s;
            }

            a:hover{
                background: linear-gradient(270deg, #0725C1 -5.92%, #2D4FFF 92.11%);
                color: #fff;

                transform: translate(0px, -4px);
            }
        }
    }

    .pixelhome-s1{
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-bottom: 50px;
        padding: 60px;

        .s1-textos{
            h1{
                span{
                    color: #0725C1;
                }
                
                font-size: 35px;
                width: 500px;

                margin: 50px 0px;
            }

            p{
                width: 300px;

                font-size: 18px;
            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 150px;

                height: 30px;

                border-radius: 5px;

                margin-top: 60px;

                background: #fff;
                color: #2D4FFF ;

                text-decoration: none;

                transition: 1s;

                font-weight: 500;
            }

            a:hover{
                transform: translate(0px, -5px);

                background: linear-gradient(270deg, #0725C1 -5.92%, #2D4FFF 92.11%);

                color: #fff;

            }
        }

        .s1-img{
          img{
            width: 600px;
          }
        }
    }

    .pixelhome-s2{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px 0px;

        margin-bottom: 100px;

        gap: 30px;

        background: linear-gradient(270deg, #0725C1 -5.92%, #2D4FFF 92.11%);

        .s2-cadastro{
            display: flex;
            
            gap: 35px;

            .s2-inputs{
                display: flex;
                flex-direction: column;

                gap: 30px;

                input{
                    padding: 10px 20px;

                    border: none;
                    outline: 0;

                    color: #fff;

                    border-radius: 30px;

                    height: 45px;

                    width: 300px;

                    background-color: #d9d9d946;
                }
                input::placeholder{
                    color: #fff;
                }

                select{
                    padding: 10px;

                    border: none;
                    outline: 0;

                    color: #fff;

                    border-radius: 30px;

                    height: 45px;

                    width: 300px;

                    background-color: #d9d9d946;
                    
                    option{
                        color: #000;
                    }
                }
            }

            .s2-linha{
                height: 200px;
                width: 1px;

                background-color: #fff;
            }
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 30px;

            color: #000;
            text-decoration: none;

            width: 150px;
            height: 30px;

            border: none;

            cursor: pointer;

            border-radius: 30px;

            background-color: #fff;

            transition: 1s;
        }

        button:hover{
           box-shadow: 0px 0px 7px 2px #0000006b;

            outline: 0;

            transform: translate(0px, -5px);
        }
    }

    .pixelhome-s3{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 25px;

            width: 78vw;

            margin-bottom: 20px;
        }


        .card-s3{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            color: #000;

            margin-bottom: 50px;

            background-color: #fff;

            padding: 10px 20px;

            width: 80vw;

            border-radius: 12px;

            .card-p1{
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 40px;

                height: 100%;

                .card-input{
                    display: flex;
                    flex-direction: row;
                    position: relative;

                    height: 50px;

                    width: 260px;

                    border: 1px solid #00000081;
                    border-radius: 7px;

                    input{
                        padding: 0px 10px;

                        outline: 0;
                        border: none;

                        height: 100%;
                        width: 85%;

                        font-size: 16px;
                    }

                    img{
                        position: absolute;
                        right: 10px;
                        top: 8px;

                        height: 30px;

                        cursor: pointer;
                    }
                }

                .card-filtro{
                    display: flex;
                    align-items: center;
                    
                    gap: 8px;

                    img{
                        height: 30px;
                    }

                    p{
                        font-size: 20px;
                    }
                }
            }
            
            .card-p2{
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 40px;

                .card-categoria{
                    display: flex;
                    align-items: center;
                    
                    gap: 8px;

                    img{
                        height: 30px;
                    }

                    p{
                        font-size: 20px;
                    }
                }

                .card-maisproduto{
                    display: flex;
                    align-items: center;

                    justify-content: center;

                    padding: 20px;

                    width: 180px;

                    gap: 8px;
                    
                    height: 60px;

                    border-radius: 10px;

                    cursor: pointer;

                    background: linear-gradient(270deg, #021575 -5.92%, #2D4FFF 92.11%);
                
                    img{
                        height: 25px;
                    }

                    h6{
                        font-size: 20px;
                        font-weight: 400;

                        color: #fff;
                    }
                }
            }
        }
    }

    .s3-titulos{
        display: flex;
        flex-direction: row;

        gap: 40px;

        padding: 0px 35px;

        width: 80vw;

        margin-bottom: 20px;

        p{
            width: 120px;

            text-align: center;

            font-weight: 500;
        }
    }

    .s3-linha{
        background-color: #fff;

        width: 80vw;

        height: 1px;
    }

    .s3-tabela{
        display: flex;
        flex-direction: column;
    }

    .tabela{
        display: flex;
        flex-direction: row;

        width: 80vw;

        gap: 40px;

        padding: 0px 35px;

        width: 80vw;

        margin: 20px 0px;
        
        p{
            width: 120px;

            text-align: center;

            font-weight: 400;
        }

        img{
            height: 20px;

            cursor: pointer;
        }

    }
            .linha-tabela{
            height: 1px;
            width: 100%;

            background-color: #fff;
        }
}
